<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список держзамовлення курсантів</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Список держзамовлення курсантів</h1>
    <div class="row">
        <br>
        <table>
            <tr>
                <td>Організація:</td>
                <td><input type="text" name="organization"></td>
            </tr>
            <tr>
                <td>Спеціальність:</td>
                <td><input type="text" name="specialty"></td>
            </tr>
            <tr>
                <td>Кількість курсантів:</td>
                <td><input type="number" name="numOfCadets"></td>
            </tr>
            <tr>
                <td>Рік:</td>
                <td><input type="text" name="year"></td>
            </tr>
            <tr>
                <td><button type="submit">Додати</button></td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <a href="/download/pdf">Click here to download pdf</a><br>
        <a href="/download/excel">Click here to download excel</a><br>
    </div>
    <br>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Організація</th>
                <th>Спеціальність</th>
                <th>Кількість курсантів</th>
                <th>Рік</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.organization}"></td>
                <td th:text="${order.specialty}"></td>
                <td th:text="${order.numOfCadets}"></td>
                <td th:text="${order.year}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
//fdsgsdgsdgsd
